.swiper {

  color: red !important;
  width: 100%;

  .swiper  .swiper-pagination-bullet-active {
    background-color: #85adb5 !important;
  };
  
  .swiper-button-prev {
    color: #85adb5 !important;
  };
  
  .swiper-button-next {
    color: #85adb5 !important;
  };
}



